<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>QR Code Generator</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width">
</head>
<body>
  <header>
	<h1>QR Code Generator</h1>
  </header>
  <div role="main">
	<img src="<%= @qr_code_url %>" />
  </div>
  <footer>
	CityCamp Raleigh 2012 | <a href="https://trianglewiki.org/QR_ALL_THE_THINGS">QR ALL THE THINGS</a>
  </footer>
</body>
</html>
